body{
    background-color: #181818;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:white
}
button{
    padding:16px;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    background-color: #101010;
    color: aliceblue;
}
button:hover{
    cursor: pointer;
    color: #101010;
    background-color: aliceblue;
    padding-left:24px;
    padding-right:24px;
}